:root {

    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  h1 {
      color: red;
    }
  
    #gridboard > * {
  
      border: 1px solid black;
    }
  
    #gridboard {
       
      display: grid;
      grid-template-columns: repeat(var(--grid-cols), 1em);
      grid-template-rows: repeat(var(--grid-rows), 1em);
    }

    .unclicked {
      background-color: beige;
    }

    .clicked {
      background-color: red;
    }